<!DOCTYPE html>
<html>
	<head>
		<title>Routes</title>
		<script src="logOut.js"></script>
	</head>

	<body>
		<h1>Welcome to the Booking page.</h1>
		<p>Here you can book and "pay" for rides on the bus</p>
		<a href="routes.ejs">Look at routes in more detail here</a><br /><br />

		<label id="labelUsername"></label><br />
		<input id="buttonMyAcc" type="button" onclick="location.href = 'account.ejs';" value="My Account" />
		<input id="buttonLogOut" type="button" onclick="logOut();" value="Log Out" />
		<br /><br /><br />

		<h2>Book a ride:</h2>
		<label>Departure Location:</label>
		<select id="dropdownDepart">
		</select><br /><br />

		<label>Destination:</label>
		<select id="dropdownDestination">
		</select><br /><br />

		<label>Arrival Time:</label>
		<input id="inputArrivalTime" type="time" /><br /><br />

		<input id="buttonSubmit" type="button" onclick="bookRide();" value="Submit" />

	</body>
</html>

<script>
	//function that is called when the user presses the submit button
	function bookRide() {
		var dDepart = document.getElementById("dropdownDepart");
		var dDest = document.getElementById("dropdownDestination");
		var iTime = document.getElementById("inputArrivalTime");

		var depart = dDepart.value;
		var dest = dDest.value;
		var time = iTime.value;

		//TODO: perform SQL stuff here

	}

	//function that is called when page is loaded to populate the dropdowns
	function populateDropdowns() {
		var dDepart = document.getElementById("dropdownDepart");
		var dDest = document.getElementById("dropdownDestination");
		var labelUser = document.getElementById("labelUsername");
		labelUser.innerHTML = sessionStorage.getItem('username');

		//get the list of locations from database and add them to dropdown here
	}

	populateDropdowns();
</script>