<!DOCTYPE html>
<html>

<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="style.css" />
	<script src="logOut.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

	<h1>Select where to go.</h1>

	<label id="labelTime"></label><br></br>
	<script>
		var lTime = document.getElementById("labelTime");
		var now = new Date();
		var hours = now.getHours();
		var ampm = 'AM';
		if (hours > 12) {
			hours -= 12;
			ampm = 'PM';
		} else if (hours == 0) {
			hours = 12;
		}
		lTime.innerHTML = 'The current time is ' + hours + ':' + now.getMinutes() + ampm;
	</script>

	<label>The next bus times are at: (insert a table with the next time for each stop here)</label><br></br>



	<a href="/routes">Look at routes in more detail here</a><br /><br />
	<a href="/book">Book a ride here</a><br /><br />

	<label id="labelUsername"></label><br />
		<input id="buttonMyAcc" type="button" onclick="location.href = '/account';" value="My Account" />
		<input id="buttonLogOut" type="button" onclick="logOut();" value="Log Out" />
		<br /><br /><br />
	<script>
		var labelUser = document.getElementById("labelUsername");
		labelUser.innerHTML = 'Logged in as ' + sessionStorage.getItem('username');
	</script>
</body>

</html>