<!DOCTYPE html>
<html>

<head>
	<title>Log In</title>
	<link rel="stylesheet" href="style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
	<h1>Please Log In.</h1>
	<label class="redLabel" id="labelLoginFailed"></label><br />

	<label>Username:</label>
	<input id="tUsername" type="text"><br><br>
	<label>Password:</label>
	<input id="tPassword" type="password"><br><br>
	<input id="buttonLogIn" type="button" value="Log In" /><br><br>
	<a href="/createAccount">Don't have an account? Create one here.</a><br />
	<script>
		$(document).ready(function () {
			$('#buttonLogIn').on('click', function () {
				var inputUsername = document.getElementById("tUsername").value;
				var inputPassword = document.getElementById("tPassword").value;
				$.ajax({
					url: "http://localhost:8080/loginRequest",
					type: "POST",
					data: {
						username: inputUsername,
						password: inputPassword,
					},
					dataType: 'json',
					success: function (result) {
						const LOGGEDIN = 0;
						const ACCOUNT_DOESNT_EXIST = 1;
						const INCORRECT_PASSWORD = 2;

						if (result.code == LOGGEDIN) {
							sessionStorage.setItem('username', inputUsername);
							location.href = "/homePage";
						} else if (result.code == ACCOUNT_DOESNT_EXIST) {
							document.getElementById("labelLoginFailed").innerHTML = "Account with username '" + inputUsername + "' does not exist.";
						} else if (result.code == INCORRECT_PASSWORD) {
							document.getElementById("labelLoginFailed").innerHTML = "Incorrect password.";
						} else {
							document.getElementById("labelLoginFailed").innerHTML = "Error contacting database. error: " + result.code;
						}
					}
				});
			});
		}); 
	</script>
</body>

</html>