<!DOCTYPE html>
<html>
	<head>
		<title>Routes</title>
		<script src="logOut.js"></script>
	</head>

	<body>
		<h1>Welcome to the Routes page.</h1>
		<p>Here will be where you can look at each route's schedules</p>
		<a href="book.ejs">Book a ride here</a><br /><br />

		<label id="labelUsername"></label><br />
		<input id="buttonMyAcc" type="button" onclick="location.href = 'account.ejs';" value="My Account" />
		<input id="buttonLogOut" type="button" onclick="logOut();" value="Log Out" />
		<br /><br /><br />

		<h2>Route Lookup:</h2>
		<label>Route Number:</label>
		<select id="dropdownRoute" onchange="populateSchedule();">
		</select><br /><br />

		<h2 id="headerRoute"></h2>
		<table id="tableRoute"></table>


	</body>
</html>

<script>
	//function that is called when page is loaded
	function populateDropdown() {
		var labelUser = document.getElementById("labelUsername");
		labelUser.innerHTML = sessionStorage.getItem('username');

		var dRoute = document.getElementById("dropdownRoute");

		//get list of route numbers from database and add them to dropdown here
		//loop for each route number:
		var toAdd = document.createElement("option");
		toAdd.value = "route number placeholder";
		toAdd.innerHTML = "route number placeholder";
		dRoute.appendChild(toAdd);

		var toAdd2 = document.createElement("option");
		toAdd2.value = "21A";
		toAdd2.innerHTML = "21A";
		dRoute.appendChild(toAdd2);

	}

	//function called when an item in the dropdown is selected
	function populateSchedule() {
		//get data from database about the route that is selected
		var route = document.getElementById("dropdownRoute").value;
		var hRoute = document.getElementById("headerRoute");
		var table = document.getElementById("tableRoute");

		hRoute.innerHTML = route;

		//clear the table
		//table.remove(); //or table.innerHTML = "";

		//get the route table from the database, add it to the table:
		var row = table.insertRow(0);
		var col1 = row.insertCell(0); //one column
		var col2 = row.insertCell(1); //example second column
		col1.innerHTML = "column_1";
		col2.innerHTML = "column_2";
	}

	populateDropdown();
</script>